/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

@media (width < 768px) {
    nav {
    background-color: #540B51;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: row;
    }
    #caja-botones {
        gap: 10%;
        margin-right: 10px;
        display: flex;
        justify-content: space-between;


    }
    nav button {
        width: 20px;
        height: 20px;
        border: none;
        background-color: #540B51;

    }
    
    .slack-logo {
        width: 100px;
        height: auto;
    }
    body{
        background-color:#540B51 ;
    }
    header {
        background-color:#540B51;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    h1 {
        font-size: 30px;
        text-align: center;
        font-style: none;
    }
    header p {
        text-align: center;
        font-size: small;
    }
    .texto-naranja {
        color: orange;
    }
    header button {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 30px;
        justify-content: center;
        text-transform: uppercase;
        position: relative;
    }
    header button:nth-child(1) {
        color: #540B51;
    }

    header button:nth-child(2) {
        background-color: #4285F4;
        color: white;
        display: flex;
        flex-direction: row;
        flex-grow: 2;
        justify-content: space-evenly;
        align-items:center;
    }
    header button:nth-child(2) span {
        
    }
    header button:nth-child(2) img{
        width: 15px;
        height: 15px;
        background-color: white;
    }
    header img {
        width: 400px;
        height: 150px;
        object-fit: cover;
    }
    main {
        background-color: #F3EAE2 ;
        padding: 0%;
    }
    main p {
        text-transform: uppercase;
        font-size: 10px;
        text-align: center;
        ;
    }
    main img{
        width: 60px;
    }
    .seccion-2 {
        background-color: white;
    }
    }



    
